.cart-index-container {
  display: flex;
  flex-direction: column;
  margin: 40px auto 60px auto;
  max-width: 1024px;
}

.whole-cart-checkout-box {
  display: flex;
  margin: 0 auto;
  width: 100%;
}

.left-side-checkout {
  margin: 0 auto;
  width: 70%;
}

.right-side-checkout {
  margin: 0 auto;
  width: 30%;
}

.cart-product-photo {
  width: 140px;
  height: 140px;
}

.cart-seller-photo {
  width: 30px;
  height: 30px;
}

.cart-item-container {
  margin: 20px 0 20px 0;
}
