$orange: #e55400;
$lightgrey: #e5e4e2;
$superlightgrey: #f8fbf7;
$lightorange: #ffd5cb;
$darkgrey: #495057;
$orangehover: #fc7042;

html {
  font-family: "Graphik Webfont", -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans",
    "Segoe UI", "Helvetica", Arial, sans-serif;
}

.main-content {
  min-height: calc(95vh - 180px);
  margin: 0 15px;
}
