$orange: #E55400;
$lightgrey: #E5E4E2;
$superlightgrey: #F8FBF7;
$lightorange: #FFD5CB;
$darkgrey: #495057;
$orangehover: #FC7042;

html {
  font-family: "Graphik Webfont",-apple-system,BlinkMacSystemFont,"Roboto","Droid Sans","Segoe UI","Helvetica",Arial,sans-serif;
}