.sign-in-splash-page {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background-color: rgb(255, 232, 167);
  min-width: 1024px;
  min-height: 1000px;
}

.sign-in-splash-emoji {
  width: 400px;
  height: 400px;
}

.sign-in-splash-text {
  font-size: 64px;
  font-weight: bold;
  padding-top: 100px;
  padding-bottom: 40px;
}
