@import "global.scss";

.NavBarContainer {
  border-bottom: 1px solid #e1e3df;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 20px auto;
  background-color: #fff;
  max-width: 1402px;
}

.homepage-link {
  color: #f45800;
  text-decoration: none;
  font-size: 36px;
  font-family: "Noto Serif SC", serif;
}

.all-products-link {
  color: #0e617a;
  text-decoration: none;
  font-size: 18px;
  font-family: "Noto Serif SC", serif;
  padding-left: 50px;
}

.register-button {
  margin: 6px;
  border: none;
  font-size: 14px;
}

.register-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-logout-button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin: 6px;
}

.login-logout-button:hover {
  background: black;
  color: white;
}

.entire-user-dropdown {
  position: relative;
  display: inline-block;
}

.user-dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 260px;
  padding: 10px 16px;
  z-index: 1;
  right: -50px;
  top: 60px;
  border: 1px solid #e1e3df;
}

.clickable-user-button {
  border-top: #e1e3df;
  border-bottom: #e1e3df;
}

.clickable-user-button:hover {
  cursor: pointer;
  outline: none;
}

.show {
  display: block;
}

.YOU-container {
  display: flex;
}

.YOU-triangle {
  padding-left: 4px;
  color: #b9b9b9;
  font-size: 10px;
}

.profile-pic {
  position: relative;
  display: block;
  float: none;
  width: 24px;
  height: 24px;
  margin: 3px auto;
  top: 1px;
}

.user-dropdown-content ul li {
  font-size: 14px;
  padding: 10px;
}

.user-dropdown-content ul li:hover {
  background: #eeeeee;
  cursor: pointer;
}

.your-listings {
  color: black;
}

.NavBarRight,
.entire-greeting-container {
  display: flex;
}

.shop-icon {
  fill: #666666;
  padding-bottom: 3px;
}

.cart-icon {
  fill: #666666;
  padding-bottom: 3px;
}

.icon-text {
  font-size: 12px;
  color: #666666;
  text-decoration: none;
}

.shop-icon-container,
.cart-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  height: 48px;
  text-decoration: none;
}

.shop-icon-container:hover {
  .shop-icon {
    fill: black;
  }
  .icon-text {
    color: black;
  }
}

.cart-icon-container:hover {
  .cart-icon {
    fill: black;
  }
  .icon-text {
    color: black;
  }
}

.shop-icon-container {
  padding-right: 20px;
}

.cart-icon-container {
  padding-left: 20px;
}

.cart-item-count {
  border: 1px solid black;
  padding: 1p;
  border-radius: 50%;
  font-size: 11px;
}
