@import "global.scss";

.NavBarContainer {
  border-bottom: 1px solid #e1e3df;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 20px auto;
  background-color: #fff;
  max-width: 1402px;
}

.homepage-link {
  color: #f45800;
  text-decoration: none;
  font-size: 36px;
  font-family: "Noto Serif SC", serif;
}

.register-button {
  margin: 6px;
  border: none;
  font-size: 14px;
}

.register-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.login-logout-button {
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin: 6px;
}

.login-logout-button:hover {
  background: black;
  color: white;
}

.greeting-container {
  display: flex;
}

.welcome-message-container {
  display: flex;
  flex-direction: column;
}

.welcome,
.username {
  margin: auto;
  padding-right: 15px;
  font-size: 16px;
  font-weight: bold;
}
