@import "global.scss";

.product-index-container {
  margin: auto;
  max-width: 1402px;
}

.product-index-title {
  display: block;
  font-size: 26px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 50px;
}

.product-index-items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 89%;
  margin: auto;
}

.product-index-item {
  min-width: 240px;
  text-decoration: none;
  cursor: pointer;
}

.product-index-item:hover {
  .product-photo {
    box-shadow: 0 0 5px grey;
  }
}

.product-photo {
  object-fit: cover;
  height: 250px;
  width: 250px;
  margin-bottom: 1%;
}

.filling-empty-space {
  width: 250px;
  height: 0;
}

.product-information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product-name {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #222;
}

.seller-name {
  color: #595959;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.6;
}

.product-price {
  color: #222;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 40px;
}
