.entire-review-container {
  display: flex;
  margin-bottom: 30px;
}

.orange-border {
  border: 1px solid #f56400;
  padding: 5px;
  border-radius: 5px;
}

.review-left-container {
  padding-top: 4px;
  padding-right: 15px;
}

.review-right-container {
  width: 100%;
}

.review-details-top {
  display: flex;
}

.review-user-photo-link {
  width: 40px;
  height: 40px;
}

.review-user-photo {
  width: 100%;
}

.review-username-link {
  text-decoration: underline;
  color: black;
  padding-right: 12px;
}

.review-username,
.review-date,
.review-body {
  font-size: 14px;
  font-weight: 400;
}

.new-review {
  padding-bottom: 20px;
}

.review-log-in {
  color: #f38033;
  font-style: italic;
}

.review-rating {
  font-size: 9px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.review-header {
  display: flex;
  align-content: center;
  padding-bottom: 24px;
}

.average-review-rating {
  font-size: 9px;
  padding-right: 12px;
  margin: auto 0;
}

.review-index-title {
  padding-right: 12px;
}

.num-reviews {
  font-size: 14px;
  color: #595959;
  margin: 0;
  font-weight: 400;
}

.review-form-container {
  border: 1px solid #e1e3df;
  border-radius: 5px;
  margin-bottom: 25px;
}

.entire-review-form {
  padding: 10px;
}

.review-prompt {
  padding-bottom: 10px;
}

.rating-text {
  padding-top: 8px;
  padding-right: 10px;
}

.rating-stars {
  padding-right: 50px;
}

.review-form-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-body-text {
  box-sizing: border-box;
  border-radius: 3px;
  width: 100%;
}

.update-review-buttons {
  display: flex;
  padding: 7px 0;
}

.update-button {
  margin-right: 20px;
}
