.entire-register-form,
.entire-signin-form {
  border: 1px solid lightgrey;
  background: white;
  width: 360px;
  padding-bottom: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.entire-register-form {
  min-height: 480px;
}

.entire-signin-form {
  min-height: 370px;
}

.signin-form-box,
.register-form-box,
.demo-button-box,
.OR {
  justify-content: left;
  align-content: left;
  margin-left: 20px;
  margin-right: 20px;
}

.OR {
  text-align: center;
  border-bottom: 1px solid #b4b4b4;
  line-height: 0.1em;
  margin: 10px 0 20px;
  font-size: 13px;
}

.OR span {
  background: white;
  color: #b4b4b4;
  padding: 0 12px 12px 12px;
}

.errorMessage {
  color: #c13c27;
  margin-top: 6px;
  transition: all 0.23s ease-in;
  height: auto;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
}

.create-account-prompt,
.signin-prompt {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.4;
}

.session-submit-button,
.demo-button {
  border: 1px solid #222;
  background: #222;
  color: #fff;
  border-radius: 3px;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
  line-height: 0;
  height: 26px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.signup-button-container,
.signin-button-container {
  padding-top: 20px;
}

.session-submit-button:hover,
.demo-button:hover {
  background: rgb(85, 85, 85);
  color: white;
}

.required-field {
  display: flex;
}

.registration-prompt {
  font-size: 14px;
  font-weight: 100;
  line-height: 2;
}

.field-name {
  font-size: 14px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.asterisk {
  color: #e55400;
  font-size: 20px;
}

.input-field {
  transition: all 0.2s cubic-bezier(0.37, 0.2, 0.28, 1), background-size 1ms;
  border: 1px solid #e1e3df;
  border-radius: 4px;
  padding-top: 9px;
  padding-bottom: 9px;
  text-indent: 16px;
  text-align: left;
  text-decoration: none;
  outline: none;
  height: 26px;
  font-size: 16px;
  width: 100%;
  cursor: text;
}

.input-field:focus {
  border: 1px solid #222;
}

.input-field:hover {
  border: 1px solid rgb(139, 139, 139);
}
