.user-show-page-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: 20px;
  max-width: 1000px;
}

.user-details-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding-bottom: 25px;
}

.header-text {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.user-products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 300px;
}

.user-product-photo {
  object-fit: cover;
  height: 180px;
  width: 180px;
  margin-bottom: 1%;
}

.user-product-link-to-show-page {
  text-decoration: none;
  color: black;
  font-size: 13px;
}

.update-listing-link {
  text-decoration: underline;
  color: black;
  font-size: 13px;
  padding-top: 5px;
  padding-right: 41px;
}

.user-product-link-to-show-page {
  width: 180px;
}

.user-product-name {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.6;
  color: #222;
  word-break: break-word;
  overflow-wrap: break-word;
  text-overflow: clip;
}

.user-product-price {
  color: #222;
  font-weight: 500;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  padding-bottom: 5px;
}

.user-product-container:hover {
  .user-product-photo {
    box-shadow: 0 0 5px grey;
  }
}

.create-new-product-button {
  display: block;
  border: 2px solid #222;
  border-radius: 3px;
  padding-top: 13px;
  text-align: center;
  line-height: 0;
  height: 12px;
  font-size: 14px;
  width: 116px;
  cursor: pointer;
  text-decoration: none;
  background-color: rgb(230, 166, 71);
  color: black;
  font-weight: 500;
}

.create-product-container {
  padding-left: 51px;
  width: 200px;
  padding-bottom: 25px;
}

.empty-space-user-show {
  width: 240px;
  height: 0;
}
